bayesian_torch==0.4.0
datasets==2.15.0
evaluate==0.4.0
gpytorch==1.10
jax==0.4.20
lightning_bolts==0.7.0
matplotlib==3.7.2
numpy==1.25.2
numpyro==0.13.0
pandas==1.5.2
PyYAML==6.0.1
Requests==2.31.0
scikit_learn==1.0.2
seaborn==0.13.0
tensorflow==2.15.0
torch==2.0.1
torchmetrics==0.11.4
torchvision==0.15.2
tqdm==4.64.1
uncertainty_toolbox==0.1.1
accelerate==0.24.1
laplace-torch==0.1a2
